.uk-navbar-container {
  background-color: white;
}

a {
  font-family: chunkfive, serif !important;
  color: black !important;
}

.desktop {
  display: flex;
  padding: 0 20px;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 500px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}
