.uk-navbar-container {
  background-color: transparent;
  transition: all .5s;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

.uk-navbar-container-active {
  background-color: #fffffff2;
  transition: all .5s;
}

a {
  font-family: chunkfive, serif !important;
  color: black !important;
  text-shadow: 1px 1px #ffffff;
}

.sidenav-container {
  padding-top: 50px;
}

.sidenav-container a{
  color: white !important;
}

.bottom-nav {
  position: absolute;
  bottom: 20px;
}

.desktop {
  display: flex;
  /*padding: 0 20px;*/
}

.mobile {
  display: none;
}

@media only screen and (max-width: 640px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }
}
