<div class="sidenav-container uk-card uk-card-default uk-card-body uk-width-1-2@s">
  <ul class="top-nav uk-nav-default uk-nav-parent-icon" uk-nav>
    <li><a routerLink="/dashboard/add-product">Add Product</a></li>
    <li><a routerLink="/dashboard/manage-products">Manage Products</a></li>
    <li class="uk-nav-divider" style="margin: 20px 0"></li>
    <li><a routerLink="/dashboard/add-banner">Add Banner</a></li>
    <li><a routerLink="/dashboard/manage-banners">Manage Banners</a></li>
  </ul>
<!--  <ul class="bottom-nav uk-nav-default uk-nav-parent-icon" uk-nav>-->
<!--    <li class="uk-nav-header">Header</li>-->
<!--    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: table"></span> Item</a></li>-->
<!--    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: thumbnails"></span> Item</a></li>-->
<!--    <li class="uk-nav-divider"></li>-->
<!--    <li><a href="#"><span class="uk-margin-small-right" uk-icon="icon: trash"></span> Item</a></li>-->
<!--  </ul>-->
</div>
