<div class="sidenav-container uk-card uk-card-default uk-card-body uk-width-1-2@s">
  <ul class="top-nav uk-nav-default uk-nav-parent-icon" uk-nav>
    <li routerLinkActive="uk-active"><a routerLink="/dashboard/add-product">Add Product</a></li>
    <li routerLinkActive="uk-active"><a routerLink="/dashboard/manage-products">Manage Products</a></li>
    <li class="uk-nav-divider" style="margin: 20px 0"></li>
    <li routerLinkActive="uk-active"><a routerLink="/dashboard/add-banner">Add Banner</a></li>
    <li routerLinkActive="uk-active"><a routerLink="/dashboard/manage-banners">Manage Banners</a></li>
  </ul>
</div>
