<div class="contact-container">

  <h1 class="contact-title uk-text-center">Contact</h1>

  <div class="uk-flex uk-flex-center uk-margin-large-bottom">

    <div class="sections uk-grid uk-grid-medium uk-width-2-3@s" uk-grid>

      <div class="information-section-title uk-width-1-3@s">
        <h4 class="section-title">Information</h4>
      </div>

      <div class="info-section-body uk-width-2-3@s">
        <p>Thanks for choosing ALACRUZ®. We focus on prioritizing the design and quality of our products,
          optimizing functionality according to the needs of our customers. Offering a personalized experience
          from the idea, until the fire finds us.</p>
        <ul class="uk-list uk-list-bullet">
          <li><p>Address: GBA, Buenos Aires, Argentina</p></li>
          <li><p>Phone: +54 911 1234 5678</p></li>
          <li><p>Email: info@alacruz.com.ar</p></li>
          <li><p>Monday - Friday: 8am - 6pm</p></li>
          <li><p>Saturday - Sunday: 9am - 3pm</p></li>
        </ul>
      </div>

      <div class="contact-section-title contact-section uk-width-1-3@s">
        <h4 class="section-title">Get In Touch</h4>
      </div>

      <div class="contact-section-body contact-section uk-width-2-3@s">
        <form class="add-banner-form" [formGroup]="contactForm">

          <div class="uk-margin">
            <input class="uk-input uk-form-width-medium uk-form-large uk-width-1-1" type="text"
                   formControlName="name" placeholder="Name *" autocomplete="off">
          </div>

          <div class="uk-margin">
            <input class="uk-input uk-form-width-medium uk-form-large uk-width-1-1" type="email"
                   formControlName="email" placeholder="Email *" autocomplete="off"
                   pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          </div>

          <div class="uk-margin">
            <textarea class="uk-textarea uk-form-width-medium uk-form-large uk-width-1-1 message-input"
                      type="text" rows="4"
                      formControlName="message" placeholder="Your Message *" autocomplete="off"></textarea>
          </div>

          <button class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small"
                  (click)="sendMail()" [disabled]="contactForm.invalid">
            Send message
          </button>

        </form>
      </div>


    </div>

  </div>

  <app-widgets></app-widgets>

</div>
