p {
  text-align: justify;
  font-family: futura, sans-serif;
  font-size: 17px;
  color: #333333;
}

::placeholder {
  font-family: futura, sans-serif;
  font-size: 18px;
}

.message-input {
  resize: vertical;
}

.contact-title {
  font-family: chunkfive, serif;
  padding: 50px;
}

.section-title {
  font-family: chunkfive, serif !important;
}


.contact-section {
  padding-top: 50px;
  padding-bottom: 20px;
}
