<div class="manage-banner-container uk-grid uk-grid-medium" uk-grid>

  <div class="uk-width-1-1 uk-text-center" *ngIf="editedBanner">
    <p>Banner edited successfully. Click <a routerLink="">here</a> to see it.</p>
  </div>


  <div class="uk-width-3-5@m uk-grid uk-grid-medium" uk-grid>
    <div class="list-banner-container uk-width-1-3@s">
      <h3>Banners</h3>
      <ul class="uk-list uk-list-striped">
        <li *ngFor="let banner of banners" (click)="selectBanner(banner)">
          {{banner.name}}
          <span class="uk-align-right" uk-icon="icon: pencil"></span>
        </li>
      </ul>
    </div>

    <div class="edit-banner-container uk-width-2-3@s">
      <h3>Edit</h3>
      <form class="add-banner-form" [formGroup]="editBannerForm">

        <div class="uk-margin">
          <input class="uk-input uk-form-width-medium uk-form-large uk-width-1-1" type="text" id="email"
                 formControlName="name" placeholder="Name" autocomplete="off">
        </div>

        <div class="uk-margin" uk-margin>
          <div class="uk-width-1-2" uk-form-custom="target: true">
            <input type="file" (change)="readUrl($event)">
            <input class="uk-input" type="text" placeholder="{{photoName}}" disabled>
          </div>
        </div>

        <div class="uk-flex uk-margin-small">
          <button class="uk-button uk-button-primary uk-width-1-2"
                  (click)="editBanner()"
                  [disabled]="editBannerForm.invalid ||
                  (editBannerForm.value.name == selectedBanner?.name && photoFile == null)">
            Update
          </button>
          <button class="uk-button uk-button-danger uk-width-1-2"
                  (click)="deleteBanner()"
                  [disabled]="selectedBanner == undefined">
            Delete
          </button>
        </div>

      </form>
    </div>
  </div>

  <div class="preview-banner-container uk-width-2-5@m">
    <h3>Preview</h3>
    <div class="banner uk-card uk-card-default uk-card-body">
      <img src="{{this.photo}}" class="image">

      <img class="loading-image" src="./assets/images/loading.svg" *ngIf="loading">
    </div>
  </div>


</div>
