<div class="manage-banner-container uk-grid uk-grid-medium" uk-grid>

  <div class="uk-width-3-5@m uk-grid uk-grid-medium" uk-grid>
    <div class="list-banner-container uk-width-1-3@s">
      <h3>Banners</h3>
      <ul class="uk-list uk-list-striped">
        <li class="banner-item" *ngFor="let banner of banners" (click)="selectBanner(banner)">
          {{banner.name}}
          <span class="uk-align-right edit-banner" uk-icon="icon: pencil"></span>
        </li>
      </ul>
    </div>

    <div class="edit-banner-container uk-width-2-3@s">
      <h3>Edit</h3>
      <form class="add-banner-form" [formGroup]="editBannerForm" id="form">

        <div class="uk-margin">
          <input class="uk-input uk-form-width-medium uk-form-large uk-width-1-1" type="text"
                 formControlName="name" placeholder="Name" autocomplete="off">
        </div>

        <div class="uk-margin" uk-margin>
          <div class="uk-width-1-2" uk-form-custom="target: true">
            <input type="file" (change)="readUrl($event)" [disabled]="!selectedBanner">
            <input class="uk-input" type="text" placeholder="Edit image" [disabled]="!selectedBanner">
          </div>
        </div>

        <div class="uk-flex uk-flex-center uk-margin-small uk-child-width-1-2">

          <app-button [type]="'primary'" *ngIf="!updating"
                      [disabled]="editBannerForm.invalid  || !this.selectedBanner"
                      (pressed)="editBanner()">
            Update
          </app-button>
          <app-button [type]="'danger'" *ngIf="!updating"
                      [disabled]="!selectedBanner"
                      (pressed)="deleteBanner()">
            Delete
          </app-button>
          <app-button [loading]="updating" *ngIf="updating"></app-button>

        </div>

      </form>
    </div>
  </div>

  <div class="preview-banner-container uk-width-2-5@m">
    <h3>Preview</h3>
    <app-preview-image
      [product]="{name: '', imageUrl: photo}"
      [loading]="loading">
    </app-preview-image>
  </div>


</div>
