<div class="add-banner-container">

  <div class="uk-grid uk-grid-large" uk-grid>

    <div class="new-banner-container uk-width-1-2@s">
      <h3>Add new banner</h3>
      <form class="add-banner-form" [formGroup]="addBannerForm" id="form">

        <div class="uk-margin">
          <input class="uk-input uk-form-width-medium uk-form-large uk-width-1-1" type="text"
                 formControlName="name" placeholder="Name" autocomplete="off">
        </div>

        <div class="uk-margin" uk-margin>
          <div class="uk-width-1-2" uk-form-custom="target: true">
            <input type="file" (change)="readUrl($event)">
            <input class="uk-input" type="text" placeholder="Select image" disabled>
          </div>
        </div>

        <app-button [type]="'primary'" [disabled]="addBannerForm.invalid || !this.photo"
                    [loading]="creating" (pressed)="createBanner()">
          Create
        </app-button>

      </form>
    </div>

    <div class="preview-banner-container uk-width-1-2@s">
      <h3>Preview</h3>

      <app-preview-image
        [product]="{name: '', imageUrl: photo}"
        [loading]="loading">
      </app-preview-image>

    </div>

  </div>

</div>
