<div class="add-product-container">

  <div class="uk-grid uk-grid-large" uk-grid>

    <div class="new-product-container uk-width-1-2@s">
      <h3>Add new product</h3>
      <form class="add-product-form" [formGroup]="addProductForm" id="form">

        <div class="uk-margin">
          <input class="uk-input uk-form-width-medium uk-form-large uk-width-1-1" type="text"
                 formControlName="name" placeholder="Name" autocomplete="off">
        </div>

        <div class="uk-margin uk-flex uk-flex-between" uk-margin>
          <div class="uk-width-1-2" uk-form-custom="target: true">
            <input type="file" (change)="readUrl($event)" id="fileInput">
            <input class="uk-input" type="text" placeholder="Select image" disabled>
          </div>
          <div>
            <label>
              Featured
              <input class="uk-checkbox featured-checkbox" type="checkbox" [checked]="isFeatured"
                     (change)="checkboxChanged()">
            </label>
          </div>
        </div>

        <app-button [type]="'primary'" [text]="'Create'" [disabled]="addProductForm.invalid || !this.photo"
                    [loading]="creating" (pressed)="createProduct()">
        </app-button>


      </form>
    </div>

    <div class="preview-product-container uk-width-1-2@s">
      <h3>Preview</h3>

      <app-product-list-item
        [product]="{name: addProductForm.value.name, imageUrl: photo}"
        [loading]="loading">
      </app-product-list-item>

    </div>
  </div>

</div>
