<div class="home-container">

  <div class="slideshow-container">

    <div class="slideshow uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
         uk-slideshow="autoplay: true; ratio: false">

      <ul class="uk-slideshow-items" uk-height-viewport="offset-top: true; offset-bottom: 30">
        <li *ngFor="let banner of banners">
          <img src="{{banner.imageUrl}}" alt="" uk-cover>
        </li>
      </ul>

      <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous
         uk-slideshow-item="previous"></a>
      <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next
         uk-slideshow-item="next"></a>

    </div>

    <ul class="uk-slideshow-nav uk-dotnav uk-flex-center uk-margin"></ul>

  </div>


  <div class="home-body-container uk-flex uk-flex-center">

    <div class="products-section uk-width-4-5">
      <h2 class="section-title uk-text-center">Popular Products</h2>
      <h3 class="section-subtitle uk-text-center">Don't know them?</h3>
      <app-product-list [products]="featuredProducts" [productsPerRow]="3"></app-product-list>
    </div>

  </div>

  <app-widgets></app-widgets>

  <div class="home-body-container uk-flex uk-flex-center" style="margin-top: 30px">

    <div class="products-section uk-width-4-5">
      <h2 class="section-title uk-text-center">Our Products</h2>
      <h3 class="section-subtitle uk-text-center">What are you waiting for?</h3>
      <app-product-list [products]="products" [productsPerRow]="3"></app-product-list>
    </div>

  </div>

</div>
