.slideshow {
  width: 100%;
}

.products-section {
  padding-bottom: 40px;
}

.section-title {
  font-family: chunkfive, serif;
  color: black;
  margin-bottom: 0;
}

.section-subtitle {
  font-family: lobster, serif;
  margin-top: 0;
  color: #959595;
}
